#loginContainer {
  background-color: aqua;
  margin: 100px 350px;
  padding: 60px;
  text-align: center;
  border-radius: 12px;
  border: 5px solid rgb(74, 3, 255);
  box-shadow: 5px 5px 10px #3b3b3b;
}

#loginTitle {
  font-size: 30px;
}

#inlogUsername {
  padding: 7px;
  margin: 5px;
  border-radius: 8px;
  width: 250px;
}

#inlogPassword {
  padding: 7px;
  margin: 5px;
  border-radius: 8px;
  width: 250px;
}

#loginRegister {
  display: flex;
  gap: 120px;
  margin-left: 40px;
}

#registerButton {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 8px;
}

#inlogButton {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 8px;
}
